/* Write your code here. */
.bg-container {
  height: 100vh;
  padding-left: 40px;
  padding-top: 25px;
}
.image {
  border-radius: 10px;
  height: 500px;
  width: 500px;
}
.heading {
  font-family: 'Roboto';
  font-size: 16px;
  color: #1e293b;
}
.description {
  font-family: 'Roboto';
  font-size: 16px;
  color: #64748b;
}
.list-container {
  display: flex;
}
